<div class="main-container">
	<div class="login-credential">
		<h1>Reset Password</h1>
		<form class="field" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
			<div class="field">
				<label>Password</label>
				<div class="input-field">
					<input type="password" placeholder="Enter password" formControlName="password"/>
					<i class="bx bx-envelope"></i>
				</div>
			</div>
			<div class="field">
				<label>Confirm Password</label>
				<div class="input-field align-middle">
					<input type="password" placeholder="Enter password" formControlName="confirm_password"/>
					<!-- <i class="bx bx-lock-alt"></i> -->
					<!-- <button type="button"  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="absolute right-0 top-1/2 -translate-x-2/4 -translate-y-2/4 ">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button> -->
				</div>
				<div class="flex bg-orange-100 items-center rounded-md p-2" >
					<i class='bx bx-info-circle mr-3 text-lg '></i>
					<!-- <p class="m-0">Password must contain at least 1 lowercase,uppercase letter,1 digit and be at least 8 characters long</p> -->
				</div>
			</div>
			<div class="login-button">
				<button [disabled]="resetForm.invalid">Reset Password</button>
			</div>
		</form>
	</div>
</div>
