<div class="container">
	<div class="card-conatiner" *ngIf="isForgotPassword">
		<h1>Forgot Password</h1>
		<form class="field" [formGroup]="forgotForm">
			<label for="">Email</label>
			<input type="email" placeholder="Enter email" formControlName="email" class="mt-2"/>
		</form>
		<div class="login-button" (click)="sendOTP('forgot')">
			<button [disabled]="forgotForm.invalid">Send OTP</button>
		</div>
	</div>
	<div class="card-conatiner" *ngIf="!isForgotPassword">
		<h1>Verify OTP</h1>
		<form class="field" [formGroup]="OTPForm">
			<div class="otp-field">
				<label for="">OTP</label>
				<input type="text" placeholder="Enter OTP" formControlName="otp" class="mt-2" maxlength="4"/>
			</div>
			<div class="otp-timeDesc">
				<div class="remain-description" >
					Didn’t receive an OTP? <span id="try-again" *ngIf="!isTimeElapsed">Try again
						in <span >{{OTPtimeFormat}}</span>
					</span>
				</div>
				<div #resendOTP>
					<a *ngIf="isTimeElapsed" (click)="sendOTP('resend')">Resend OTP</a>
				</div>
			</div>
			

		<div class="login-button" >
			<button [disabled]="OTPForm.invalid" (click)="verifyOTP()">Verify OTP</button>
		</div>
	</form>
	</div>


	
</div>
<!-- api loader -->
<ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>